<main>
    <br>
    <br>
    <div class="row g-2">
        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Title</div>
                <div class="card-body text-center">
                    <h6 class="card-title">Title</h6>
                    <p>This is contetnt of our box</p>
                    <button class="btn btn-light">CliCK!</button>
                    <br>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Title</div>
                <div class="card-body text-center">
                    <h6 class="card-title">Title</h6>
                    <p>This is contetnt of our box</p>
                    <button class="btn btn-light">CliCK!</button>
                    <br>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Title</div>
                <div class="card-body text-center">
                    <h6 class="card-title">Title</h6>
                    <p>This is contetnt of our box</p>
                    <button class="btn btn-light">CliCK!</button>
                    <br>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Title</div>
                <div class="card-body text-center">
                    <h6 class="card-title">Title</h6>
                    <p>This is contetnt of our box</p>
                    <button class="btn btn-light">CliCK!</button>
                    <br>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card text-bg-success">
                <div class="card-header text-center">Title</div>
                <div class="card-body text-center">
                    <h6 class="card-title">Title</h6>
                    <p>This is contetnt of our box</p>
                    <button class="btn btn-light">CliCK!</button>
                    <br>
                    <div class="card-footer">Footer</div>
                </div>
            </div>
        </div>

    </div>



    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="card text-bg-success">
        <div class="card-header text-center">Title</div>
        <div class="card-body text-center">
            <h6 class="card-title">Title</h6>
            <p>This is contetnt of our box</p>
            <button class="btn btn-light">CliCK!</button>
            <div class="card-footer">Footer</div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="card">
        <img class="card-img-top" src="https://picsum.photos/600/300" alt="Product photo">
        <div class="card-body  text-bg-primary">
            <h5 class="card-title">
                Product #25245
            </h5>
            <p>
                Hello world
            </p>
            <a href="#" class="btn btn-primary">Open</a>
        </div>
    </div>

    <br>
    <br>
    <br>
    <ul class="list-group">
        <li class="list-group-item">
            <ul class="list-group">
                <li class="list-group-item">Item 1.1</li>
                <li class="list-group-item">Item 1.2</li>
            </ul>
        </li>
        <li class="list-group-item">
            Item 2
        </li>
        <li class="list-group-item">
            Item 3
        </li>
    </ul>
</main>