<main>
    {{#with main}}
    <section>
        {{> title data='My education' big=true}}

        <ul>
            {{#each education}}
            <li class="mb-2">
                {{name}}
                {{#unless isEnd}} (Ще в процесі){{/unless}}
            </li>
            {{/each}}
        </ul>
    </section>

    <hr class="my-5">

    <section>
        {{> title data='My certificate'}}

        <ul>
            {{#each certificate}}
            <li class="mb-2">
                {{name}} ({{id}})
            </li>
            {{/each}}
        </ul>
    </section>
    {{/with}}
</main>