<main>
    <h1 class="mb-5">Список сторінок</h1>
    <p>Перший проект на навчанні в IT-BRAINS.</p>
    <p class="mb-5">Застосовувалися технології HTML, Handlebars, Boorstrap</p>

    <div class="row g-5">
        <div class="col-4">
            {{> linkIndex link="/summary" name="summary"}}
            {{> linkIndex link="/skills" name="skills"}}
            {{> linkIndex link="/education" name="education"}}
            {{> linkIndex link="/work" name="work"}}
            {{> linkIndex link="/person" name="person"}}
            {{> linkIndex link="/bio" name="biography"}}
            {{> linkIndex link="/program" name="program"}}
            {{> linkIndex link="/web" name="web"}}
            {{> linkIndex link="/js" name="java script"}}
            {{> linkIndex link="/car" name="car"}}
            {{> linkIndex link="/mac" name="macbook"}}
            {{> linkIndex link="/task21" name="task21"}}
            {{> linkIndex link="/task22" name="task22"}}
            {{> linkIndex link="/task31" name="task31"}}
        </div>

        <div class="col-4">
            {{> linkIndex link="/shophome" name="Shophome" isSuccess=true}}
            {{> linkIndex link="/shopproduct" name="shopproduct" isSuccess=true}}
            {{> linkIndex link="/shoporder" name="shoporder" isSuccess=true}}
            {{> linkIndex link="/shopcart" name="shopcart" isSuccess=true}}
            {{> linkIndex link="/shopprofile" name="shopprofile" isSuccess=true}}
            {{> linkIndex link="/shopreview" name="shopreview" isSuccess=true}}
            {{> linkIndex link="/shopcatalog" name="shopcatalog" isSuccess=true}}
        </div>
    </div>
</main>