<main>
    {{#with main}}
    <section class="mb-5">
        {{#with summary}}
        {{> title data=title big=true}}
        <div>
            <p>
                {{text}}
            </p>
        </div>
        {{/with}}
    </section>

    <section>
        {{#with experience}}
        {{> title data=title}}
        <div>
            <p>
                {{text}}
            </p>
        </div>
        {{/with}}
    </section>
    {{/with}}
</main>