<div class="col-3 p-1">
    <div class="card text-bg-dark p-2 mb-3">
        <h5>
            {{title}}
            {{#if isTop includeZero=true}}
            <span class="badge text-bg-danger rounded-pill">Топ</span>
            {{/if}}
            {{#if isNew includeZero=true}}
            <span class="badge text-bg-success rounded-pill">Нова</span>
            {{/if}}
        </h5>
        <p>{{description}}</p>
    </div>
</div>